<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedals | Customer Support </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div>
    <!--    HEADER SECTION -->
    <header class="h-16 flex items-center max-w-[1200px] m-auto">
        <nav class="flex justify-between w-full px-6">
            <div class="flex items-center">
                <p class="text-xl font-semibold"><a href="/"> Pedal </a></p>
            </div>

            <ul class="flex">
                <li class="mr-8 flex items-center ">
                    <p class="text-base"><a href="/"> Contact Support </a></p>
                </li>

                <li class="mr-8 flex items-center">
                    <p class="text-base"><a href="/"> Try Bikes </a></p>
                </li>

                <li>
                    <a href="/login">
                        <button class="bg-[#3C5924;] px-6 h-12 rounded text-[#fff]">
                            Management Console
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="bg-[#FBF9E9] h-[100vh] flex items-center justify-center">
        <div class="max-w-[1200px] m-auto">
            <p class="text-6xl text-center font-bold mb-4"> Pedals Customer Support </p>
            <p class="text-3xl text-left font-light"> What Issue Are you Having? </p>
            <form class="my-6" >
                <label for="issue"> </label>
                <textarea id="issue"
                       class="bg-gray-50 h-[200px] border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                       required=""
                       placeholder="Please describe the issue you're experiencing with Pedals Commerce"></textarea>

                <button class="mt-6 bg-[#3C5924;] px-6 h-12 rounded text-[#fff]">
                    Submit Issue
                </button>
            </form>

        </div>
    </section>
</div>
</body>
</html>